################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AProject/.vs
/.vs/TeamCityGit/v17
/.vs
/AProject/obj
/AProjectTest/bin/Debug/net6.0
/AProjectTest/obj
